/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #3a2620;
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --highlight-color-light: #7a9fc2;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* NAVBAR */
#navbar {
    background-color: var(--primary-color);

}

#navbar .logo {
    width: 30px;
}

/* HEADER */

#header .lead {
    font-family: var(--secondary-font);
}

/* SERVICES */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}


/* NEW GAMES*/
#favourite-games .card,
#new-games .card{
    border:none;
}
#favourite-games .card-footer,
#new-games .card-footer{
    background:transparent;
    border:none;
}
/* Footer / contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact .contact-icon {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links .social-icon-link {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links .social-icon-link:hover {
    color: var(--secondary-color);
}
#contact .table-dark *{
    background:transparent;
}
/* .container,
.row {
    border: 2px solid black;
}
.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

@media (min-width:768px) {
    #services .card-body {
        min-height: 191px;
    }
}

@media (min-width:992px) {
    #services .card-body {
        min-height: auto;
    }
}
@media (min-width:1200px) {
    #services .card-body {
        min-height: 220px;
    }
}
@media (min-width:1400px) {
    #services .card-body {
        min-height: 195px;

    }
}